@layout('layouts/app')
@set('title', 'Remote')
@set('subTitle', building.name)

@section('content')
<div class="row px-lg-20">
  @each((item) in data)
  <div class="col-md-6 col-xl-3 mb-6">
    <a href="{{ route('remote.room', { idBuilding:building.id, idRoom:item.id }) }}" class="card border-hover-dark">
      <div class="card-header border-0 pt-9">
        <div class="card-title m-0">
          <div class="symbol symbol-50px w-50px bg-light p-3 d-flex justify-content-center">
            <i class="ki-duotone ki-bank fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
            </i>
          </div>
        </div>
        <div class="card-toolbar">
          <span class="badge badge-light-success"><span class="badge badge-success badge-circle w-10px h-10px me-2"></span> <span id="{{ item.id }}">0</span></span>
        </div>
      </div>
      <div class="card-body p-9">
        <div class="fs-2 fw-bold text-gray-900">{{ item.name }}</div>
        <p class="text-gray-500 fw-semibold fs-5 mt-1 mb-7">{{ item.description ?? '-' }}</p>
      </div>
    </a>
  </div>
  @endeach
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      function updateData() {
          var url = "/remote/{{building.id}}/stat";

          $.ajax({
              url: url,
              method: 'GET',
              success: function(response) {
                var dataArray = response.data;
                dataArray.forEach(function(item) {
                      // Misalnya objek punya key "id" dan "nilai"
                      $('#' + item.id).text(item.activeCount);
                  });
               
              },
              error: function(xhr) {
                  console.error('Error fetching data:', xhr);
              }
          });
      }
      setInterval(updateData, 2000);
      updateData();
  });
</script>
@endsection
