<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="{{ asset('assets/images/icon-small.png') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link rel="manifest" href="/manifest.json" />
    @entryPointStyles('app')
  </head>

  <body id="kt_app_body" data-kt-app-header-fixed="true" data-kt-app-header-fixed-mobile="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" class="app-default">
		<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
			<div class="app-page flex-column flex-column-fluid bg-light" id="kt_app_page">
				
        @include('layouts/partials/_topbar')

				<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">

          @include('layouts/partials/_sidebar')
					
					<div class="app-main flex-column flex-row-fluid bg-light" id="kt_app_main">
						<div class="d-flex flex-column flex-column-fluid">
							<div id="kt_app_content" class="app-content flex-column-fluid">
								<div id="kt_app_content_container" class="app-container container-fluid">

                  @!section('content')

							</div>
						</div>
					</div>

						@include('layouts/partials/_footer')
            
					</div>
				</div>
			</div>
		</div>

    <div class="modal fade" tabindex="-1" id="change-password">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title">Change Password</h3>
                  <div class="btn btn-icon btn-sm btn-active-light-dark ms-2" data-bs-dismiss="modal" aria-label="Close">
                      <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                  </div>
              </div>
              <form xml:id="myForm" action="{{ route('profile.changePassword') }}" method="POST">
                <div class="modal-body">
                  <div class="mb-3">
                    <div>
                      <label class="required form-label" for="newPassword">New Password</label>
                      <input type="password" class="form-control form-control-solid{{ flashMessages.get('errors.password') ? ' is-invalid' : '' }}" name="password" id="newPassword" placeholder="New Password" required>
                    </div>
                    <small class="text-danger">
                      {{ flashMessages.get('errors.password') ?? '' }}
                    </small>
                  </div>
                  <div class="mb-3">
                    <div>
                      <label class="required form-label" for="repeatPassword">Repeat Password</label>
                      <input type="password" class="form-control form-control-solid{{ flashMessages.get('errors.password_confirmation') ? ' is-invalid' : '' }}" name="password_confirmation" id="repeatPassword" placeholder="Repeat Password" required>
                    </div>
                    <small class="text-danger">
                      {{ flashMessages.get('errors.password_confirmation') ?? '' }}
                    </small>
                  </div>
                </div>                
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                  <button id="password_submit" class="btn btn-dark me-2 flex-shrink-0">
                    <span class="indicator-label" data-kt-translate="sign-in-submit">Save</span>
                    <span class="indicator-progress">
                      <span data-kt-translate="general-progress">Please wait...</span>
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                  </button>
                </div>
              </form>
          </div>
      </div>
    </div>

    <script>
      document.getElementById('change-password').addEventListener('submit', function() {
        var submitButton = document.getElementById('password_submit');
        submitButton.querySelector('.indicator-label').style.display = 'none';
        submitButton.querySelector('.indicator-progress').style.display = 'inline-block';
        submitButton.setAttribute('disabled', 'disabled');
      });
    </script>

    @include('layouts/partials/alert')

    <script src="/js/plugins.bundle.js"></script>
    <script src="/js/scripts.bundle.js"></script>
    @entryPointScripts('app')
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/serviceworker.js')
      }
    </script>
	</body>

</html>
